{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script> // your solution here
        // Elements
        var rotateBox = document.getElementById("rotate-box"),
            pinchBox = document.getElementById("pinch-box"),
            pressBox = document.getElementById("press-box"),
            panBox = document.getElementById("pan-box"),
            tapBox = document.getElementById("tap-box"),
            swipeBox = document.getElementById("swipe-box");
        // Hammer instances 
        var rotateHammer = new Hammer(rotateBox),
            pinchHammer = new Hammer(pinchBox),
            pressHammer = new Hammer(pressBox),
            panHammer = new Hammer(panBox),
            tapHammer = new Hammer(tapBox),
            swipeHammer = new Hammer(swipeBox);

        // Enable pinch and rotate recognizers (disabled by default)
        pinchHammer.get('pinch').set({ enable: true });
        rotateHammer.get('rotate').set({ enable: true });
        
        // Enable vertical for pan recognizer
        panHammer.get('pan').set({ direction: Hammer.DIRECTION_ALL });
        // Enable all directions for swipe recognizer
        swipeHammer.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });

        /* ---------------- GESTURES ---------------- */ 
        // Rotate
        rotateHammer.on('rotate', function(e) { // e for event
            $('#rotate-box').css('transform', 'rotate(' + e.rotation + 'deg)');
        });

        // Pinch
        pinchHammer.on('pinch', function(e) {
            $('#pinch-box').css('transform', 'scale(' + e.scale + ')');
        });
        
        // Press
        pressHammer.on('press', function(e) {
            
        });
        
        // Pan
        panHammer.on('pan', function(e) {
            $('pan-box').css('transform', 'translate(' + e.deltaX 'px, ' + e.deltaY + 'px)');
        });
        
        // Tap
        tapHammer.on("tap", function() {
            $("#tap-box").css('background-color', 'red');
        });
            
        // Swipe
        

// This is pan, not swipe
//        swipeHammer.on('swipeleft swiperight', function(e) {
//            $('#swipe-box').css('transform', 'translateX(' + e.deltaX + ')');
//        });
//        swipeHammer.on('swipeup swipedown', function(e) {
//            $('#swipe-box').css('transform', 'translateY(' + e.deltaY + ')');
//        });
        
        
  </script>
</body>
</html>
